.upload-image-tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: auto;
  padding: 0;
  border: 1px solid #ffffff33;
  border-radius: 10px;
}

.upload-image-tile .image-box {
  overflow: hidden;
  width: 300px;
  height: 250px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.upload-image-tile .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-image-tile .image-box input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}

.upload-image-tile .image-input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px 20px;
}

.upload-image-tile .image-input-form .input-field {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.upload-image-tile .image-input-form input,
.upload-image-tile .image-input-form textarea {
  width: 100%;
  padding: 10px;
  margin: 2px 0px;
  border: 1px solid #cccccc44;
  border-radius: 5px;
  background-color: #00000055;
  outline: none;
  color: white;
  transition: border 0.3s ease;
}

.upload-image-tile .image-input-form input:hover {
  border: 1px solid #cccccc77;
}

.upload-image-tile .image-input-form input#tag-input {
  width: 30%;
  align-self: flex-start;
}

.upload-image-tile p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin: 5px 0 0 0;
}
.upload-image-tile p.error-msg {
  color: red;
  font-size: 0.9rem;
  font-weight: 400;
}

.upload-image-tile .tag-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.upload-image-tile .tag-list .tag {
  font-size: 0.8rem;
  color: #ffffff99;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  border-radius: 5px;
  border: 1px solid #ffffff44;
  background-color: #222;
}

.upload-image-tile button.add-btn {
  width: 100%;
  background-color: lime;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px 0;
  font-weight: 700;
  padding: 10px;
  transition: all 0.3s ease;
}

.upload-image-tile button.add-btn:hover {
  background-color: limegreen;
}

.upload-image-tile .location-box {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  border: 1px solid dodgerblue;
  /* border-radius: 10px; */
  z-index: 1002;
}

.upload-image-tile .location-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
}

.upload-image-tile .location-box ul::-webkit-scrollbar {
  display: none;
}

.upload-image-tile .location-box ul li {
  width: 360px;
  color: white;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #cccccc44;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.upload-image-tile .location-box ul li:hover {
  background-color: dodgerblue;
  cursor: pointer;
}
