.upload-image-tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: auto;
  padding: 0;
  border: 1px solid #00000033;
  border-radius: 10px;
}

.upload-image-tile .image-box {
  overflow: hidden;
  width: 400px;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.upload-image-tile .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-image-tile .image-input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px 20px;
}

.upload-image-tile .image-input-form .input-field {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.upload-image-tile .image-input-form input {
  background-color: none;
  border: 1px solid #00000033;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin: 10px 0;
  height: 40px;
}

.upload-image-tile .image-input-form input#tag-input {
  width: 30%;
  align-self: flex-start;
}

.upload-image-tile p {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  margin: 5px 0 0 0;
}

.upload-image-tile .tag-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.upload-image-tile .tag-list .tag {
  font-size: 0.8rem;
  color: #00000099;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  border-radius: 5px;
  background-color: #00000011;
}
