.account-settings-page {
  background: linear-gradient(90deg, #111, #222);
  width: 100%;
  min-height: 100vh;
}

.account-settings-page .account-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ffffff22;
  padding-top: 10px;
}

.account-settings-page .account-navbar span {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  font-weight: 700;
  margin-left: 10px;
}

.account-settings-page .account-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.account-settings-page .account-body .account-content {
  width: 70%;
  padding-left: 30px;
}
