/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

/* nav bar styling */
.nav {
  display: flex;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #087ccaac;
  padding: 20px 100px;
  justify-content: space-between;
}

.nav .nav-links {
  display: flex;
  flex-direction: row;
}

.nav .nav-links .nav-item {
  margin: auto 20px;
  color: white;
}

.nav .logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: whitesmoke;
  font-style: normal;
}

.nav .nav-links .nav-item a {
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav .nav-links .nav-item a:hover {
  color: #9cc3ed;
}

.nav .nav-links .login {
  margin: auto 20px;
}

.nav .nav-links .login a {
  color: white;
  font-style: normal;
}
