.App {
  text-align: center;
}

.navbar {
  background-color: #087dca;
  color: #fff;
  padding: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.navbar ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.2rem;
}

.navbar li:hover {
  cursor: pointer;
  color: #000;
}

.navbar a {
  color: #eae8e8;
  text-decoration: none;
  margin-left: 2rem;
}

.navbar a:hover {
  color: white;
}
