.App {
  text-align: center;
}

/* nav bar styling */
.nav {
  display: flex;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #087cca;
  padding: 20px 100px;
  justify-content: space-between;
  z-index: 999999;
}

.nav .nav-links {
  display: flex;
  flex-direction: row;
}

.nav .nav-links .nav-item {
  margin: auto 20px;
  color: white;
}

.nav .logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: whitesmoke;
  font-style: normal;
}

.nav .nav-links .nav-item a {
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav .nav-links .nav-item a:hover {
  color: #9cc3ed;
}

.nav .nav-links .login {
  margin: auto 20px;
}

.nav .nav-links .login a {
  color: white;
  font-style: normal;
}

.nav .nav-links .logout {
  margin: auto 20px;
  font-size: 1rem;
  font-style: normal;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav .nav-links .logout:hover {
  color: #9cc3ed;
  font-style: normal;
}
