/* nav bar styling */
.nav {
  display: flex;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #2b7dddcc;
  padding: 10px 50px 10px 20px;
  justify-content: space-between;
  z-index: 999999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.nav .logo-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav .nav-links {
  display: flex;
  flex-direction: row;
}

.nav .nav-links .nav-item {
  margin: auto 5px;
  color: white;
}

.nav .logo-search .logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: black;
  font-style: normal;
  margin-right: 10px;
}

.nav .nav-links .nav-item a {
  color: white;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
}

.nav .nav-links .nav-item a:hover {
  color: white;
  background-color: blue;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.nav .nav-links .login {
  margin: auto 20px;
}

.nav .nav-links .login a {
  color: white;
  font-style: normal;
}

.nav .nav-links .logout {
  margin: auto 20px;
  font-size: 1rem;
  font-style: normal;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav .nav-links .logout:hover {
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
