/* nav bar styling */
.nav {
  display: flex;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #000000;
  padding: 10px 50px 10px 20px;
  justify-content: space-between;
  z-index: 999;
  margin: 0;
}

.nav .logo-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav .nav-links {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .nav {
    flex-wrap: wrap;
  }
}

.nav .nav-links .nav-item {
  margin: auto 5px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .nav .nav-links .nav-item {
    width: 100%;
  }
}

.nav .logo-search .logo {
  font-size: 2.2rem;
  font-weight: 900;
  color: white;
  font-style: normal;
  margin-right: 10px;
  font-family: "PT Serif", serif;
}

.nav .nav-links .nav-item a {
  color: white;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  font-weight: 600;
}

.nav .nav-links .nav-item a:hover {
  color: #087dca;
}

.nav .nav-links .login {
  margin: auto 20px;
}

.nav .nav-links .login a {
  color: white;
  font-style: normal;
}

.nav .nav-links .logout {
  margin: auto 20px;
  font-size: 1rem;
  font-style: normal;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav .nav-links .logout:hover {
  font-weight: bold;
  border-radius: 5px;
  background-color: transparent;
}
