.profile-collection-grid {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  display: grid;
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  /* grid-auto-flow: dense; */
  background: none;
  margin-top: 20px;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}

.no-collections h1 {
  color: #ffffff44;
  margin: 4rem;
}

@media only screen and (max-width: 600px) {
  .profile-collection-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    grid-gap: 10px 0;
  }
}
