.user-profile-section {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  flex-direction: row; */
  background: none;
}

.user-profile-section .profile-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: none;
}

.user-profile-section .profile-section-wrapper .profile-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin: 0;
  padding: 1rem;
  padding-left: 50px;
  /* background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  ); */
  background: none;
  transition: all 0.3s ease-in-out;
}

.user-profile-section .profile-section-wrapper .profile-section .profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #000;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.user-profile-section
  .profile-section-wrapper
  .profile-section
  .profile-img
  img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile-section .profile-section-wrapper .profile-section .name {
  font-size: 2.3rem;
  font-weight: 500;
  color: white;
}

.user-profile-section .profile-section-wrapper .profile-section p {
  color: white;
}

.user-profile-section .profile-section-wrapper .profile-section .user-link {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: rgb(35, 140, 232);
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.user-profile-section
  .profile-section-wrapper
  .profile-section
  .user-link:hover {
  text-decoration: underline;
  color: rgb(30, 109, 178);
}

.user-profile-section .profile-section-wrapper .profile-section a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.user-profile-section .profile-section-wrapper .profile-section a:hover {
  text-decoration: underline;
}

.user-profile-section .profile-section-wrapper .profile-section .stat-bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  margin: 20px 0;
}

.user-profile-section .btn-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 40%;
}

.user-profile-section .btn-section .btn-bar {
  position: absolute;
  bottom: 5%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.user-profile-section .btn-section .btn-bar button {
  background-color: rgb(16, 135, 239);
  color: white;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* tag bar styling */
.user-tag-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}
