.setting-tile {
  width: 250px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 5px 0;
}

.setting-tile:hover {
  background-color: #087dca22;
}

.setting-tile h1 {
  font-size: 1rem;
  color: #000000;
  margin-left: 10px;
  font-weight: normal;
}

.setting-tile p {
  font-size: 1rem;
  color: gray;
}

.setting-tile .icon {
  font-size: 1.5rem;
  color: #087dca;
}

.selected {
  background-color: #087dca33;
}

.selected:hover {
  background-color: #087dca44;
}

.selected h1 {
  font-weight: 900;
  color: #087dca;
}
