.settings-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 30px;
  height: 100%;
  width: 15%;
}

.settings-bar h1.setting-bar-title {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 2rem;
  text-align: center;
  align-self: center;
}

.settings-bar .btn-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
