.setting-tile {
  width: 250px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 5px 0;
  background-color: #ffffff22;
}

.setting-tile:hover {
  background-color: #087cca65;
}
.setting-tile:hover h1 {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.setting-tile h1 {
  font-size: 1rem;
  color: white;
  margin-left: 10px;
  font-weight: normal;
}

.setting-tile p {
  font-size: 1rem;
  color: #ffffffaa;
}

.setting-tile .icon {
  font-size: 1.5rem;
  color: #087dca;
}

.selected {
  background-color: #096aabd4;
}

.selected:hover {
  background-color: #087ccab3;
}

.selected h1 {
  font-weight: 900;
  color: #ffffff;
}
