.delete-account-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  height: 100%;
  color: white;
  width: 100%;
}

.delete-account-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: left;
  align-self: flex-start;
  font-family: "PT Serif", serif;
}

.delete-account-section h2 {
  align-self: flex-start;
  font-size: 2rem;
  color: white;
  text-align: left;
  margin-left: 20px;
  font-family: "PT Serif", serif;
}

.delete-account-section p {
  font-size: 1rem;
  color: #ffffff77;
  font-style: italic;
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

.delete-account-section .delete-box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #ffffff22;
  width: 100%;
  margin-top: 50px;
  padding: 25px 50px;
}

.delete-account-section .delete-box .form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.delete-account-section .delete-box .form-item label {
  font-size: 1rem;
}

.delete-account-section .delete-box .form-item input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff44;
  background-color: #000;
  color: white;
}

.delete-account-section .delete-box button {
  background-color: red;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-account-section .delete-box button:hover {
  background-color: #ff0000aa;
}
