.email-setting-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  height: 100%;
  color: white;
  width: 100%;
}

.email-setting-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: left;
  align-self: flex-start;
  font-family: "PT Serif", serif;
}

.email-setting-section h2 {
  align-self: flex-start;
  font-size: 2rem;
  color: white;
  text-align: left;
  margin-left: 20px;
  font-family: "PT Serif", serif;
}

.email-setting-section p {
  font-size: 1rem;
  color: #ffffff77;
  font-style: italic;
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

.email-setting-section .email-list-section {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #ffffff22;
  width: 100%;
  margin-top: 50px;
  padding: 25px 50px;
}

.email-setting-section .email-list-section .email-setting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.email-setting-section .email-list-section .email-setting label {
  margin-left: 20px;
  font-size: 1rem;
}

.email-setting-section
  .email-list-section
  .email-setting
  input[type="checkbox"] {
  width: 20px;
}

.email-setting-section button#save {
  background-color: lime;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  margin: 10px 0px;
  width: 150px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 700;
}

.email-setting-section button#save:hover {
  background-color: limegreen;
}
