.privacy-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  height: 100%;
  color: white;
  width: 100%;
}

.privacy-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: left;
  align-self: flex-start;
  font-family: "PT Serif", serif;
}

.privacy-section h2 {
  align-self: flex-start;
  font-size: 2rem;
  color: white;
  text-align: left;
  margin-left: 20px;
  font-family: "PT Serif", serif;
}

.privacy-section p {
  font-size: 1rem;
  color: #ffffff77;
  font-style: italic;
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

.privacy-section .change-password {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #ffffff22;
  width: 100%;
  margin: 50px 0;
  padding: 25px 50px;
}

.privacy-section .change-password .form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.privacy-section .change-password .form-box .form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.privacy-section .change-password .form-box label {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
}

.privacy-section .change-password .form-box input {
  width: 700px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff33;
  background: #00000055;
  color: white;
}

.privacy-section .change-password button {
  background-color: lime;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.privacy-section button#save {
  background-color: lime;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  width: 700px;
}

.privacy-section .error-msg {
  border-radius: 5px;
  background-color: red;
  font-weight: 600;
  padding: 10px;
  color: black;
  margin: 10px 0;
  width: 700px;
}

.privacy-section .success-msg {
  border-radius: 5px;
  background-color: lime;
  font-weight: 600;
  padding: 10px;
  color: black;
  margin: 10px 0;
  width: 700px;
}
