/* Login container */
.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-blend-mode: soft-light;
}

.login-container .col {
  width: 50%;
  height: 100%;
  margin: 0;
}

.login-container .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-container .col .logo {
  position: relative;
  top: -100%;
  left: -135%;
}

.login-container .col .logo h1 a {
  font-size: 2rem;
  font-weight: 900;
  color: #0056b3;
}

.login-container .form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0;
  justify-content: center;
}

/* Login form */
.form-col .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 50px;
}

.login-form .form-item {
  margin-bottom: 20px;
}

.login-container .form-col .title h1 {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 20px;
  color: #0056b3;
}

/* Login form inputs */
.login-form input {
  width: 350px;
  height: 60px;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
}

.login-form input:hover {
  border: 2px solid dodgerblue;
}

.login-form input::placeholder {
  color: dodgerblue;
  font-size: 1rem;
  font-weight: 500;
}
/* Login form button */
.login-form button {
  width: 350px;
  height: 60px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Login form button hover effect */
.login-form button:hover {
  background-color: #0056b3;
}

/* Error Message Component */
.error-message {
  color: red;
  font-size: 0.9rem;
  /* font-weight: bold; */
  margin-top: 5px;
  text-align: left;
}

/* register link styling */
.login-container .form-col .register-box {
  margin-top: 100px;
}

.login-container .form-col .register-box p {
  font-size: 1rem;
  color: gray;
}

.login-container .form-col .register-box a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.login-container .form-col .register-box a:hover {
  color: #0056b3;
}
