.coll-section {
  width: 100%;
  background-size: "cover";
  background-position: "center";
}

.coll-section .coll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  backdrop-filter: blur(10px) brightness(0.5);
  width: 100%;
}

.coll-section h1#no-photo {
  font-size: 3rem;
  font-weight: 500;
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
  color: #777;
}

.coll-section .cover-photo {
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.coll-section .cover-photo img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .coll-section .cover-photo {
    max-height: 100px;
  }

  .coll-section .cover-photo img {
    height: 100px;
  }
}

.coll-section .detail-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  margin: 10px 20px;
}

.coll-section .detail-panel h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: white;
}

.coll-section .detail-panel p {
  font-size: 0.9rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

.coll-section .detail-panel button.edit-btn {
  width: 100px;
  background: none;
  border: 2px solid #ffffff88;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: auto;
  transition: all 0.3s ease-in-out;
  margin-left: 2rem;
}

.coll-section .detail-panel button.edit-btn:hover {
  background: #ffffff22;
  border: 2px solid #ffffff;
}

.coll-section .button-bar {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca55;
  width: 100%;
  margin: 40px 0px 20px 0;
}

@media only screen and (max-width: 600px) {
  .coll-section .button-bar {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* combo box styling */
.coll-section .button-bar .option-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  .coll-section .button-bar .option-bar {
    flex-direction: column;
  }
}

.coll-section .option-box {
  padding: 0px 10px;
  font-size: 0.9rem;
  min-width: 100px;
}

/* search bar styling */
.coll-section .button-bar .search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coll-section .button-bar .search p {
  color: whitesmoke;
}

.coll-section .button-bar .search .search-bar {
  width: 300px;
  padding: 10px 20px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #cacaca;
  margin: 0 20px;
  font-size: 0.9rem;
}

.coll-section .button-bar .search .search-bar:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .coll-section .button-bar .search .search-bar {
    width: 250px;
  }
}

/* styling collection image slider */
.col-image-slide-bar .stage,
.col-image-slide-bar .ring,
.col-image-slide-bar .img {
  width: 100%;
  transform-style: preserve-3d;
  user-select: none;
}

.col-image-slide-bar .stage {
  overflow: hidden;
  background: #000;
}

.col-image-slide-bar div,
.col-image-slide-bar svg {
  position: absolute;
}

.col-image-slide-bar .container {
  perspective: 2000px;
  width: 300px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.coll-section .coll-wrapper .loading {
  align-self: center;
}

.coll-section .coll-wrapper .page-bar {
  align-self: center;
}
