/* Login container */
.login-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.login-wrapper {
  backdrop-filter: blur(10px) brightness(0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-container .col {
  width: 50%;
  height: 100%;
  margin: 0;
}

.login-container .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-container .col .logo {
  position: relative;
  top: -100%;
  left: -135%;
}

.login-container .col .logo h1 a {
  font-family: "PT Serif", serif;
  font-size: 3rem;
}

.login-container .col .logo h1 a {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.login-container .form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0;
  justify-content: center;
}

/* Login form */
.form-col .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 50px;
}

.login-form .form-item {
  margin-bottom: 20px;
}

.login-container .form-col .title h1 {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 20px;
  color: white;
}

/* Login form inputs */
.login-form input {
  width: 450px;
  height: 60px;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: 1px solid #cccccc55;
  border-radius: 25px;
  outline: none;
  background-color: #ffffff22;
  transition: all 0.2s ease-in-out;
  color: white;
}

.login-form input:focus {
  border: 1px solid #cccccc88;
}

.login-form input:hover {
  border: 1px solid #cccccc88;
}

.login-form input::placeholder {
  color: #ffffff88;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}
/* Login form button */
.login-form button {
  width: 450px;
  height: 60px;
  padding: 10px;
  background-color: transparent;
  border: 3px solid #0a58ac;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Login form button hover effect */
.login-form button:hover {
  background-color: #0a58ac;
}

/* Error Message Component */
.error-message {
  color: red;
  font-size: 1rem;
  /* font-weight: bold; */
  margin-top: 5px;
  text-align: left;
}

/* register link styling */
.login-container .form-col .register-box {
  margin-top: 100px;
}

.login-container .form-col .register-box p {
  font-size: 1rem;
  color: gray;
}

.login-container .form-col .register-box a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.login-container .form-col .register-box a:hover {
  color: #0056b3;
}

/* login error message styling */
.login-error {
  color: red;
  font-size: 0.9rem;
  /* font-weight: bold; */
  margin-top: 5px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid red;
}
