/* Registration Form */

.register-page {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.register-page-wrapper {
  backdrop-filter: blur(10px) brightness(0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}

.image-box {
  position: relative;
  width: 50%;
  overflow: hidden;
  height: 100%;
}

.image-box h1 {
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
  font-size: 5rem;
  text-align: left;
  line-height: 1;
  font-family: "PT Serif", serif;
}

.image-box span {
  font-size: 1.5rem;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-box {
  position: relative;
  width: 50%;
}

.register-page-wrapper > h2 {
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  font-size: 2rem;
  margin: 10px;
}

.registration-form {
  padding: 20px;
  backdrop-filter: blur(10px) brightness(0.5);
  background-color: #22222255;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid #ffffff22;
}

.registration-form .form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

@media (max-width: 768px) {
  .registration-form .form-container {
    grid-template-columns: 1fr;
  }
}

.form-container .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.form-container .column h2 {
  text-align: center;
  margin-bottom: 15px;
  color: white;
  font-size: 2.2rem;
  font-weight: 500;
}

.form-container .column .btn-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.form-item {
  margin-bottom: 20px;
}

.registration-form h2 {
  margin-left: 30px;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  text-align: left;
  align-self: flex-start;
}

.registration-form p {
  font-style: italic;
  margin-left: 30px;
  margin-bottom: 30px;
  color: #ffffff77;
  text-align: left;
  align-self: flex-start;
}

.registration-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form textarea {
  width: 600px;
  padding: 10px;
  margin-bottom: 0;
  border: 1px solid #cccccc33;
  border-radius: 5px;
  background-color: #00000055;
  outline: none;
  color: white;
  transition: border 0.3s ease;
}

.registration-form input[type="text"]:hover,
.registration-form input[type="email"]:hover,
.registration-form input[type="password"]:hover,
.registration-form textarea:hover {
  border: 1px solid #cccccc77;
  transition: border 0.3s ease;
}

.registration-form input[type="text"]:focus,
.registration-form input[type="email"]:focus,
.registration-form input[type="password"]:focus,
.registration-form textarea:focus {
  border: 1px solid #cccccc;
  transition: border 0.3s ease;
}

.registration-form input[type="file"] {
  position: absolute;
  width: 600px;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 5px;
  background: none;
  outline: none;
  color: transparent;
  transition: border 0.3s ease;
  opacity: 0;
  /* display: none; */
}

.registration-form input[type="file"]::after {
  content: "Upload Profile Image";
  display: block;
  padding: 10px;
  text-align: center;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

.registration-form button {
  width: 100%;
  padding: 10px;
  background-color: dodgerblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
  border: 2px solid dodgerblue;
}

.registration-form button:hover {
  background-color: #007bff;
}

.registration-form button#register {
  background-color: transparent;
}

.registration-form button#register:hover {
  background-color: dodgerblue;
}

/* Error Message Component */
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  text-align: left;
}

.registration-form .profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.register-page .profile-img img {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  object-fit: cover;
}

.register-page .success-msg {
  background-color: #55555555;
  border: 1px solid #ffffff22;
  color: lime;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.register-page .error-msg {
  background-color: #55555555;
  border: 1px solid #ffffff22;
  color: red;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.registration-form .password-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  align-items: center;
  width: 600px;
  margin-bottom: 20px;
}
