/* styling for page bar */
.page-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-bar button {
  background-color: #087dca;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.home-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0px;
  margin-top: 50px;
}

.home-search h1 {
  font-size: 2.4rem;
  margin: 20px 0;
  font-weight: 700;
}

.home-search input {
  width: 150%;
  height: 70px;
  border: none;
  border-radius: 5px;
  padding: 20px 15px;
  font-size: 1rem;
  margin: 10px 0;
  background-color: lightgray;
  transition: all 0.2s ease-in-out;
}

.home-search input:focus {
  background-color: white;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.home-search input:hover {
  background-color: white;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.home-search p {
  font-size: 1.1rem;
  font-weight: 400;
  width: 500px;
  text-align: left;
}

.home-search button {
  width: 40%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #087dca;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.home-search button:hover {
  background-color: #0a5f8d;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.add-collection-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
