.photo-page-wrapper {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.photo-page-box {
  backdrop-filter: blur(10px) brightness(0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.photo-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding: 20px;
}

.photo-page .photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 700px;
  height: 600px;
  overflow: hidden;
  border: 1px solid #ffffff22;
}

@media only screen and (max-width: 600px) {
  .photo-page .photo-container {
    width: 100%;
  }
}

.photoPage .photo-container .photo {
  image-rendering: pixelated;
  object-fit: fill;
  object-position: center;
}

.photo-page .detail-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .photo-page {
    flex-direction: column;
  }

  .photo-page .detail-tab {
    margin-top: 20px;
  }
}

.photo-page .detail-tab .photo-detail-panel {
  width: 750px;
  height: auto;
  background: linear-gradient(90deg, #111111ee 0%, #222222aa 100%);
  border-radius: 30px;
  padding: 20px 30px;
  border: 1px solid #ffffff33;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* title tab styling  */
.photo-page .detail-tab .photo-detail-panel .title-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0px;
  align-items: center;
}

.photo-page .detail-tab .photo-detail-panel .title-tab h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: left;
  color: #fff;
  margin: 0 20px 0 0;
}

.photo-page .detail-tab .photo-detail-panel .title-tab .btn-bar {
  display: flex;
  flex-direction: row;
}

.photo-page .detail-tab .photo-detail-panel .title-tab .btn-bar .btn {
  background-color: #ffffff80;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 45px;
  width: 45px;
  margin-right: 15px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.photo-page .detail-tab .photo-detail-panel .title-tab .btn-bar .btn:hover {
  background-color: #ffffffaa;
}

.photo-page .detail-tab .photo-detail-panel .title-tab .btn-bar .btn img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin: auto;
}

/* end of title tab styling */

.photo-page .detail-tab .photo-detail-panel p {
  text-align: left;
  color: #acacac;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.photo-page .detail-tab .photo-detail-panel button.photo-view-btn {
  padding: 10px 15px;
  margin: 5px 10px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid limegreen;
  color: white;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  justify-self: flex-start;
}

.photo-page .detail-tab .photo-detail-panel button.photo-view-btn:hover {
  background-color: limegreen;
  color: black;
  transition: all 0.2s ease-in-out;
}

.photo-page .detail-tab .photo-detail-panel .stat-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.photo-page .detail-list {
  list-style: none;
  margin-top: 35px;
}

.photo-page .detail-list li {
  color: #ffffff80;
  text-align: left;
  display: flex;
  margin-bottom: 10px;
}

.photo-page .detail-list li .line {
  margin-left: 10px;
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .photo-page .detail-tab .photo-detail-panel {
    width: 100%;
  }

  .photo-page .detail-tab .photo-detail-panel .title-tab {
    flex-direction: column;
  }

  .photo-page .detail-tab .photo-detail-panel .title-tab .btn-bar {
    flex-direction: row;
    margin-top: 20px;
  }

  .photo-page .detail-tab .photo-detail-panel .stat-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .photo-page .detail-list {
    margin-top: 20px;
  }
}

.photo-page-box .photo-collections-grid {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  background: none;
  margin-top: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 600px) {
  .photo-page-box .photo-collections-grid {
    grid-template-columns: 1fr;
  }
}

.photo-page-box h2 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 20px 0px;
  text-align: left;
  align-self: flex-start;
  margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
  .photo-page-box h2 {
    margin-left: 1rem;
    text-align: center;
  }
}
