.photo-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 20px;
}

.photo-page .photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}

.photoPage .photo-container .photo {
  image-rendering: pixelated;
  object-fit: fill;
}

.photo-page .detail-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.photo-page .detail-tab .photo-detail-panel {
  width: 750px;
  height: auto;
  background-color: #080828;
  border-radius: 30px;
  padding: 20px 30px;
}

/* title tab styling  */
.photo-page .detail-tab .photo-detail-panel .title-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;
  align-items: center;
}

.photo-page .detail-tab .photo-detail-panel .title-tab h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: left;
  color: #fff;
}

.photo-page .detail-tab .photo-detail-panel .title-tab .btn-bar {
  display: flex;
  flex-direction: row;
}

.photo-page .detail-tab .photo-detail-panel .title-tab .btn-bar .btn {
  background-color: #ffffff80;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 45px;
  width: 45px;
  margin-right: 15px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.photo-page .detail-tab .photo-detail-panel .title-tab .btn-bar .btn:hover {
  background-color: #ffffffaa;
}

.photo-page .detail-tab .photo-detail-panel .title-tab .btn-bar .btn img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin: auto;
}

/* end of title tab styling */

.photo-page .detail-tab .photo-detail-panel p {
  text-align: left;
  color: #acacac;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.photo-page .detail-tab .photo-detail-panel .stat-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.photo-page .detail-list {
  list-style: none;
  margin-top: 35px;
}

.photo-page .detail-list li {
  color: #ffffff80;
  text-align: left;
  display: flex;
  margin-bottom: 10px;
}

.photo-page .detail-list li .line {
  margin-left: 10px;
  align-self: center;
}
