.search-page {
  background: linear-gradient(90deg, #000, #222);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.search-page-wrapper {
  backdrop-filter: blur(5px) brightness(0.5);
  padding: 10px;
  margin: 0;
  height: 100%;
}

h1.search-keyword-title {
  font-size: 1.5rem;
  margin: 20px 20px;
  font-weight: 700;
  text-align: left;
  color: #ffffffaa;
}

h1.search-keyword-title span {
  color: #087dca;
  font-size: 3rem;
}
