.topic-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .topic-bar {
    max-width: 100%;
    overflow: hidden;
  }
}

.topic-bar button {
  height: 45px;
  min-width: 100px;
  border-radius: 25px;
  margin: 10px 20px;
  background-color: #00000088;
  color: white;
  border: 1px solid #ffffff99;
  padding: 5px 15px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.topic-bar button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
