footer {
  background: linear-gradient(90deg, #000, #222, #444);
  color: #e4e4e4;
  margin: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

@media only screen and (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    padding: 1rem 1rem;
  }
}

.footer-content .footer-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% / 3);
  padding: 20px;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .footer-content .footer-col {
    width: 90%;
    align-items: center;
  }
}

.footer-content .footer-col h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer-col p {
  text-align: justify;
}

.footer-col .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-col .social-media .icon {
  margin: 0px 25px;
  transition: all 0.2s ease;
  color: white;
}

.footer-col .social-media .icon:hover {
  color: dodgerblue;
  transform: scale(1.2);
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-col ul li {
  margin: 10px 0;
}

.footer-col ul li a {
  list-style: none;
  color: #e4e4e4;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer-col ul li a:hover {
  color: dodgerblue;
}

.footer-col .input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-col input[type="email"] {
  width: 300px;
  padding: 0.8rem;
  margin: 1rem 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #e0e0e0;
  outline: none;
  height: 50px;
  transition: all 0.2s ease;
}

.footer-col input[type="email"]:focus {
  border: 3px solid dodgerblue;
}

.footer-col button[type="submit"] {
  padding: 0.8rem;
  margin: 1rem 0;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  outline: none;
  height: 50px;
  transition: all 0.2s ease;
}

.footer-col button[type="submit"]:hover {
  background-color: #0d6efd;
}

@media only screen and (max-width: 600px) {
  .footer-col input[type="email"] {
    width: 200px;
  }
}

.footer-line {
  padding: 20px 0;
}
