.collection-card {
  width: 500px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.collection-card .cover-photo {
  width: 100%;
  height: 300px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow: hidden;
}

.collection-card .cover-photo img {
  width: 500px;
  height: 300px;
  object-fit: "cover";
}

.collection-card .title {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-top: 20px;
}

.collection-card .detail-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.collection-card .tag-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
}
