.search-section-tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 8px 18px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  margin-left: 20px;
  border: 2px solid #ffffff77;
}

.search-section-tile:hover {
  background-color: #1d78f0;
  color: #fff;
  cursor: pointer;
  border-color: #1d78f0;
}

.search-section-tile h2 {
  font-size: 1.1rem;
}

.search-section-tile-selected {
  background-color: white;
  color: black;
  border: none;
}
