.search-tab-button .button {
  border: none;
  height: 50px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #000;
}

.search-tab-button .text {
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.search-tab-button .icon {
  margin-top: 5px;
}

.search-tab-button .active .text {
  color: #fff;
}

.search-tab-button .button:hover .text {
  color: #fff;
}

.search-tab-button .value {
  margin: 0 10px;
}

.search-tab-button .button:hover {
  color: #fff;
  background-color: #1d78f0;
  /* background-color: #000; */
}

.search-tab-button .active {
  color: #fff;
  background-color: #000;
}

.search-tab-button .avtive:hover {
  color: #fff;
  background-color: #000;
}
