.tag {
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  height: 23px;
  position: relative;
  margin-right: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.tag:hover {
  background-color: rgb(190, 190, 190);
}

.tag .div {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}
