.search-page-tag-component {
  border-radius: 5px;
  height: 23px;
  position: relative;
  margin-right: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff44;
  color: white;
}

.search-page-tag-component:hover {
  background-color: dodgerblue;
  color: white;
}
