.collection-card {
  width: 500px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
}

.collection-card:hover .cover-image img {
  filter: brightness(0.7);
}

.collection-card .cover-image {
  width: calc(100% - 20px);
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
}

.collection-card .cover-photo img {
  width: 500px;
  height: 300px;
  object-fit: "cover";
}

.collection-card .title {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin: 5px 0 0 20px;
}

.collection-card .detail-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0 0 20px;
  color: gray;
}

.collection-card .detail-bar p {
  margin-right: 10px;
}

.collection-card .tag-bar {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 15px;
}
