.col-photo-grid {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  /* grid-auto-flow: dense; */
  background-color: white;
  margin-top: 20px;
  margin-left: 8rem;
  margin-right: 8rem;
}
