.upload-photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #111;
}

.upload-photos .title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.upload-photos .logo {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.upload-photos h1 {
  color: white;
  font-size: 3rem;
  margin: 10px;
}

.upload-photos p {
  color: #ffffffaa;
  margin: 5px;
}

.upload-photos h3#count {
  align-self: flex-start;
  color: white;
  font-weight: 700;
}

.upload-photos .upload-photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
}

.upload-photos button.upload-btn {
  width: 500px;
  height: 80px;
  background: transparent;
  border: 2px solid lime;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 50px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.upload-photos button.upload-btn:hover {
  background-color: lime;
  color: black;
  transition: all 0.3s ease;
}

.upload-photos p.error {
  color: red;
}

.upload-photos p.success {
  color: lime;
}
