.photo-card {
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.photo-card .overlap-group-wrapper {
  background-color: #ffffff;
  height: 400px;
  width: 400px;
}

.photo-card .overlap-group {
  background-position: 50% 50%;
  background-size: cover;
  height: 400px;
  position: relative;
}

.photo-card .overlap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff80;
  border-radius: 15px;
  height: 35px;
  width: 35px;
  left: 300px;
  position: absolute;
  top: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.photo-card .overlap:hover {
  background-color: white;
}

.photo-card .edit {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #ffffff80;
  border-radius: 15px;
  height: 35px;
  width: 35px;
  left: 250px;
  position: absolute;
  top: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  z-index: 1;
  transition: all 0.1s ease;
}

.photo-card .edit:hover {
  background-color: white;
}

.photo-card:hover .edit {
  display: flex;
  transition: all 0.1s ease;
}

.photo-card .img {
  height: 30px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 30px;
}

.photo-card .down-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff80;
  border-radius: 15px;
  height: 35px;
  width: 35px;
  left: 350px;
  position: absolute;
  top: 355px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.photo-card .down-wrapper:hover {
  background-color: white;
}

.photo-card .plus-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff80;
  border-radius: 15px;
  height: 35px;
  width: 35px;
  left: 350px;
  position: absolute;
  top: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.photo-card .plus-wrapper:hover {
  background-color: white;
}

.photo-card .click-wrapper {
  background: transparent;
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  height: 300px;
}

.photo-card .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: 154px;
}

.photo-card .div {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 70px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 360px;
  white-space: nowrap;
}

.photo-card .show {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

.photo-card .not-show {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    bottom: -5px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}

/* style for darken the div element when the mouse is hovered over it */
.photo-card .darken {
  filter: brightness(0.8);
}

.photo-card .profile-img {
  position: absolute;
  top: 345px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  left: 20px;
}

.photo-card .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
