.profile-badge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(18, 18, 75);
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 15px 10px 5px;
  cursor: pointer;
}

.profile-badge .profile-badge-photo {
  margin-right: 10px;
  margin-top: 10px;
}

.profile-badge img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-badge .profile-badge-info h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
