.profile-badge-photo {
  margin-right: 10px;
  background-color: black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s;
}

.profile-badge-photo:hover {
  border: 2px solid #777;
}

.profile-badge-photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
