.tag {
  background-color: #ffffff80;
  border-radius: 5px;
  height: 23px;
  position: relative;
  width: 66px;
  margin-right: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.tag:hover {
  background-color: #ffffffaa;
}

.tag .div {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 66px;
}
