.photo-page-tag-component {
  border-radius: 5px;
  height: 23px;
  position: relative;
  margin-right: 10px;
  transition: all 0.1s ease-in-out;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e055;
  color: #ffffffaa;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.photo-page-tag-component:hover {
  background-color: dodgerblue;
  color: white;
  border-color: dodgerblue;
}
