.global-collections {
  background-color: #222;
  width: 100%;
}

.global-collections h1 {
  text-align: left;
  color: white;
  font-size: 4rem;
  font-weight: 400;
  margin: 10px 20px;
}

.global-collections .global-collections-grid {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  background: none;
  margin-top: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 600px) {
  .global-collections .global-collections-grid {
    grid-template-columns: 1fr;
  }
}
