.global-collections {
  background-color: #222;
  background-size: "cover";
  background-position: "center";
  width: 100%;
  padding: 0;
}

.global-collections-wrapper {
  backdrop-filter: blur(5px) brightness(0.5);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.global-collections h1 {
  text-align: left;
  color: white;
  font-size: 4rem;
  font-weight: 400;
  margin: 0px 20px;
}

.global-collections .global-collections-grid {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  background: none;
  margin-top: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.global-collections h2 {
  text-align: center;
  color: #aaaaaa;
  font-size: 3rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .global-collections .global-collections-grid {
    grid-template-columns: 1fr;
  }
}
